
@media screen and (max-width: 930px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }

    .feature-love-image-2 img {
        width: 100%;
    }

    .feature-love {
        flex-direction: column;
      }
    
}

@media screen and (min-width: 930px) and (max-width:1330px) {
    .feature-love-image-1 {
        height: 1054px;
        overflow: scroll;
    }
    }
    @media screen and (max-width: 1256px) {
        .feature-love {
            flex-direction: column;
        }
    }

@media screen and (min-width: 800px) and (max-width:1250px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 930px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }

    .feature-love-image-2 img {
        width: 100%;
    }

    .feature-love {
        flex-direction: column;
      }
      .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 785px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }

    .group-pic-feature-1 {
        grid-template-columns: 1fr;
        
    }

    .group-pic-feature-1 img {
        width: 100%;
    }

    
}


@media screen and (max-width: 610px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }
    .group-pic-feature-1 {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    .banner-title {
        font-size: 3.5rem;
    }

    .experience-years {
        width: 227px;
        height: 96px;
        top: -97px;
        left: -34px;
    }
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
    .some-facts-header-description {
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    .some-facts-header-description h2 {
        margin: 10px;
    }

    
}

@media screen and (max-width: 476px) {
    .card-holder {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }
    .card {
        width: 70%;
    }
}

