
@media screen and (max-width: 930px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 785px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }

    .group-pic-feature-1 {
        grid-template-columns: 1fr;
        
    }

    .group-pic-feature-1 img {
        width: 100%;
    }

    
}


@media screen and (max-width: 610px) {
    .navbar {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    .team-feature {
        flex-direction: column;
    }
    .group-pic-feature-1 {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    .banner-title {
        font-size: 3.5rem;
    }
}

